.header-wrap {
  // position: relative;
  // margin-top: -25vh;
  filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
  z-index: 20;
}

header {
  position: relative;
  margin-top: -11.5vh;
  left: -3vw;
  /* width: 110vw; */
  /* -webkit-transform: rotate(-4.5deg); */
  transform: rotate(-4.5deg);
  background: firebrick;
  height: 20vh;
  border-bottom: 4px solid white;
  z-index: 10;

}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  position: absolute;
  transform: rotate(4.5deg);
  bottom: 2rem;
  text-align: left;
  left: 3vw;
  /* font-size: 1rem; */

  h1 {
    font-family: 'montserrat';
    display: inline;
    position: relative;
    top: 5px;
    margin-left: 20px;
    letter-spacing: 2px;
  }

  img {
    width: 125px;
    vertical-align: middle;
  }
}


nav {
  display: inline-flex;
  position: absolute;
  bottom: 0rem;
  text-align: right;
  left: 42vw;
  font-size: 1rem;
}

.router-link-exact-active {
  color: $dark !important;
  font-weight: 900;
  background: white;
  text-shadow: none;
  padding-bottom: 4px;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Roboto';
  letter-spacing: 4px;
  text-transform: uppercase;

  &:hover {
    color: $dark !important;
    // font-weight: 900;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 500ms;
    transition-timing-function: ease-in-out;
    text-shadow: none;
    padding-bottom: 4px;
  }
}
