.flex {
  position: relative;
  display: flex;
  flex-direction: row;

  @include bp(mobile) {
    flex-direction: column;
  }


}

.col {
  flex: 1;

}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  // overflow: auto;
}


.hidden {
  display: none;
}


.inline-block {
  display: inline-block;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;

}

.img-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 144px;
  height: 191px;
}

.bottom-shadow {
  box-shadow: black 2px 2px 2px;
}