.teamvacancy {
  padding-top: 10px;
  text-align: center;

  a {}

  .vacancy-header {
    margin-bottom: 1rem;

    h1 {
      font-size: calc(15px + 1vw);
      text-transform: uppercase;
    }

    p {
      font-size: calc(10px + 0.5vw);
    }

  }

  ul {

    text-align: left;
    margin-left: 9vw;

    @include bp(mobile) {
      text-align: center;
      margin-left: 0;
      margin-bottom: 5px;
    }

    li {
      font-size: 0.75rem;
      background: yellow;
      padding: 2px;
      // width: 100%;
      display: inline-block;
      color: $dark;
      margin: 2px;
      font-weight: 800;

      &:hover {

        background: firebrick;
        color: white;
        // padding: 0 3px 0 3px;
        font-weight: 300;
        cursor: help;
      }
    }
  }



  .find-coach {
    display: none;
    margin-top: 40px;

    @include bp(mobile) {
      display: block;
    }
  }

  button {
    margin-top: 20px;
    background: royalblue;
    border: none;
    padding: 5px;
    color: white;
    font-weight: 900;
  }
}