// Imported Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo|Montserrat|Roboto|Rubik&display=swap');
// @import 'fonts';

// Main Style Sheets
@import 'variables';
@import 'mixins';
@import 'header';
@import 'animation';

//Component Stylesheets
@import 'coachestable';
@import 'lotto';
@import 'helpers';
@import 'frontimage';
@import 'teamvacancy';
@import 'joinus';



html,
body {
  // position: relative;
  overflow-x: hidden;
  font-family: 'montserrat', 'archivo';
  letter-spacing: 1px;
  // min-height: 100%;
}


.affiliation {
  padding-top: 20px;
  text-align: center;
}

/* Desktop Styles */
@media screen and (min-width: 501px) {
  @import './desktop';
}

/* Mobile Styles */
@media screen and (max-width: 499px) {
  @import './mobile';
}
