@import url("https://fonts.googleapis.com/css?family=Archivo|Montserrat|Roboto|Rubik&display=swap");
header {
  position: relative;
  background: firebrick;
  width: 105vw;
  margin-top: -91px;
  left: -20px;
  height: 200px;
  border-bottom: 4px solid white;
  z-index: 10;
  -webkit-filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
          filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
  -webkit-transform: rotate(-4.5deg);
          transform: rotate(-4.5deg);
}

.logo {
  -webkit-transform: rotate(4.5deg);
          transform: rotate(4.5deg);
  display: -ms-inline-flexbox;
  position: absolute;
  bottom: 27px;
  left: 55px;
}

.logo h1 {
  font-family: 'montserrat';
  display: inline;
  position: relative;
  top: 5px;
  margin-left: 20px;
  letter-spacing: 2px;
  text-shadow: black 2px 2px;
}

.logo img {
  width: 100px;
  vertical-align: middle;
}

nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 0rem;
  right: 10rem;
  margin-right: 100px;
  text-align: right;
  font-size: 1rem;
}

.router-link-exact-active {
  color: #242424 !important;
  font-weight: 900;
  background: white;
  text-shadow: none;
  padding-bottom: 4px;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Roboto';
  letter-spacing: 4px;
  text-transform: uppercase;
}

a:hover {
  color: #242424 !important;
}

footer {
  position: relative;
  bottom: 0px;
  -webkit-box-shadow: black -2px 2px 2px;
          box-shadow: black -2px 2px 2px;
}

footer .footer-bottom {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 30px;
}

footer .left {
  float: left;
}

footer .right {
  float: right;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.lotto {
  text-align: center;
  padding: 10px 10px 10px 10px;
  background: firebrick;
}

.lotto .ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 10%;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
  overflow: hidden;
  -webkit-animation: ballGrow 2s ease-out forwards;
          animation: ballGrow 2s ease-out forwards;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.lotto .ball:after {
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
}

.lotto .stage {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.lotto .number {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 80px;
  color: firebrick;
  font-family: 'Roboto', sans-serif;
  -webkit-animation: ballRoll 2s ease-out;
          animation: ballRoll 2s ease-out;
}

.lotto .number:after {
  content: attr(data-number);
  position: absolute;
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  opacity: 0;
  left: 10px;
  animation: numberReveal 0.1s 1.5s reverse forwards;
}

.lotto .number:before {
  content: '?';
  position: absolute;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  -webkit-animation: numberReveal 0.1s 1.5s forwards;
          animation: numberReveal 0.1s 1.5s forwards;
  left: 0%;
}

@-webkit-keyframes ballRoll {
  0%,
  20%,
  50% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
  }
  10%,
  35%,
  75% {
    -webkit-transform: translateY(100%) rotateX(170deg) scale(0.4);
            transform: translateY(100%) rotateX(170deg) scale(0.4);
  }
  11%,
  36%,
  76% {
    -webkit-transform: translateY(-100%) rotateX(-170deg) scale(0.3);
            transform: translateY(-100%) rotateX(-170deg) scale(0.3);
    opacity: 0;
  }
}

@keyframes ballRoll {
  0%,
  20%,
  50% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
  }
  10%,
  35%,
  75% {
    -webkit-transform: translateY(100%) rotateX(170deg) scale(0.4);
            transform: translateY(100%) rotateX(170deg) scale(0.4);
  }
  11%,
  36%,
  76% {
    -webkit-transform: translateY(-100%) rotateX(-170deg) scale(0.3);
            transform: translateY(-100%) rotateX(-170deg) scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes ballGrow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ballGrow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes numberReveal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes numberReveal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lotto .stage:nth-child(2) .ball,
.lotto .stage:nth-child(2) .number {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lotto .stage:nth-child(2) .number:after,
.lotto .stage:nth-child(2) .number:before {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.lotto .stage:nth-child(3) .ball,
.lotto .stage:nth-child(3) .number {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lotto .stage:nth-child(3) .number:after,
.lotto .stage:nth-child(3) .number:before {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.lotto .stage:nth-child(4) .ball,
.lotto .stage:nth-child(4) .number {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.lotto .stage:nth-child(4) .number:after,
.lotto .stage:nth-child(4) .number:before {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.flex-grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  resize: vertical;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  padding: 5px;
}

.img-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 144px;
  height: 191px;
}

.bottom-shadow {
  -webkit-box-shadow: black 2px 2px 2px;
          box-shadow: black 2px 2px 2px;
}

.margin-b-25 {
  padding-bottom: 25px;
}

.margin-t-25 {
  padding-top: 25px;
}

.FrontImage {
  position: relative;
  margin-top: -150px;
  z-index: 1;
  -webkit-filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
          filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
}

.FrontImage img {
  width: 100vw;
}

.FrontImage .frontimgtxt {
  position: absolute;
  font-family: 'Montserrat';
  display: -ms-inline-grid;
  display: inline-grid;
  bottom: 5vw;
  left: 5vw;
  min-width: 10%;
  max-width: 50%;
  z-index: 30;
}

.FrontImage .frontimgtxt h1 {
  font-size: 40px;
  text-transform: uppercase;
  background: rgba(178, 34, 34, 0.9);
  padding: 20px 10px 0 10px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadein;
          animation-name: fadein;
}

.FrontImage .frontimgtxt h2 {
  font-size: 30px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.9);
  padding: 0 0 0 10px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: fadein;
          animation-name: fadein;
}

.teamvacancy {
  padding-top: 10px;
  text-align: center;
}

.teamvacancy .vacancy-header {
  margin-bottom: 1rem;
}

.teamvacancy ul {
  text-align: left;
  margin-left: 9vw;
}

.teamvacancy ul li {
  font-size: 0.75rem;
  background: yellow;
  padding: 2px;
  display: inline-block;
  color: #242424;
  margin: 2px;
  font-weight: 800;
}

.teamvacancy ul li:hover {
  background: firebrick;
  color: white;
  font-weight: 300;
  cursor: help;
}

.joinus {
  background: lightyellow;
  height: 200px;
  margin-bottom: 25px;
  color: #242424;
  line-height: 180px;
}

.joinus h1 {
  text-align: center;
  vertical-align: middle;
  text-align: center;
  margin-bottom: -150px;
}

.joinus p {
  text-align: center;
  vertical-align: middle;
  text-align: center;
}

html,
body {
  overflow-x: hidden;
  font-family: 'montserrat', 'archivo';
  letter-spacing: 1px;
  min-height: 100%;
}

.affiliation {
  padding-top: 20px;
  text-align: center;
}

/* Desktop Styles */
@media screen and (min-width: 501px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #242424;
    color: white;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
  }
  header {
    position: relative;
    background: firebrick;
    width: 105vw;
    margin-top: -91px;
    left: -20px;
    height: 200px;
    border-bottom: 4px solid white;
    z-index: 10;
    -webkit-filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
            filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
    -webkit-transform: rotate(-4.5deg);
            transform: rotate(-4.5deg);
  }
  .logo {
    -webkit-transform: rotate(4.5deg);
            transform: rotate(4.5deg);
    display: -ms-inline-flexbox;
    position: absolute;
    bottom: 27px;
    left: 55px;
  }
  .logo h1 {
    font-family: 'montserrat';
    display: inline;
    position: relative;
    top: 5px;
    margin-left: 20px;
    letter-spacing: 2px;
    text-shadow: black 2px 2px;
  }
  .logo img {
    width: 100px;
    vertical-align: middle;
  }
  nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    bottom: 0rem;
    right: 10rem;
    margin-right: 100px;
    text-align: right;
    font-size: 1rem;
  }
  .router-link-exact-active {
    color: #242424 !important;
    font-weight: 900;
    background: white;
    text-shadow: none;
    padding-bottom: 4px;
  }
  a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Roboto';
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  a:hover {
    color: #242424 !important;
  }
}

/* Mobile Styles */
@media screen and (max-width: 499px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: black;
    color: white;
  }
  nav {
    display: none;
  }
  .logo h1 {
    display: none;
  }
  .logo img {
    margin: auto;
    height: 60px;
    width: 60px;
  }
  .FrontImage {
    display: none;
  }
  body ul li {
    list-style-type: none;
  }
  .nav {
    background-color: #000;
    width: 100%;
    position: fixed;
    z-index: 10;
    clear: both;
  }
  ul#menu {
    display: none;
  }
  ul#menu li a {
    width: 100%;
    display: block;
    background-color: #000;
    color: #fff;
    font-size: 1em;
    padding: 1.5em 1.6em;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    text-decoration: none;
  }
  ul#menu a:hover {
    background-color: #303030;
  }
}
/*# sourceMappingURL=main.css.map */