@import url("https://fonts.googleapis.com/css?family=Archivo|Montserrat|Roboto|Rubik&display=swap");
header {
  position: relative;
  background: firebrick;
  width: 105vw;
  margin-top: -91px;
  left: -20px;
  height: 200px;
  border-bottom: 4px solid white;
  z-index: 10;
  -webkit-filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
          filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
  -webkit-transform: rotate(-4.5deg);
          transform: rotate(-4.5deg);
  margin-bottom: 5rem;
}

@media (max-width: 600px) {
  header {
    display: none;
    margin-top: 0px;
  }
}

header::after {
  content: "";
  background: url("../img/grass.jpg");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header .logo {
  -webkit-transform: rotate(4.5deg);
          transform: rotate(4.5deg);
  display: -ms-inline-flexbox;
  position: absolute;
  bottom: 27px;
  left: 55px;
}

header .logo h1 {
  font-family: 'montserrat';
  display: inline;
  position: relative;
  top: 5px;
  margin-left: 20px;
  letter-spacing: 2px;
  text-shadow: black 2px 2px;
}

header .logo img {
  width: 100px;
  vertical-align: middle;
}

header nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 0rem;
  right: 10rem;
  margin-right: 100px;
  text-align: right;
  font-size: 1rem;
}

header .router-link-exact-active {
  color: #242424 !important;
  font-weight: 900;
  background: white;
  text-shadow: none;
  padding-bottom: 4px;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Roboto';
  letter-spacing: 4px;
  text-transform: uppercase;
}

header a:hover {
  color: #242424 !important;
}

@media (min-width: 601px) {
  .mobile-header {
    display: none;
  }
}

@media (max-width: 1201px) {
  .mobile-header .mobile-header {
    display: none;
  }
}

.mobile-header {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.mobile-header .logo img {
  width: 147px;
}

.mobile-header .newapp {
  position: relative;
  top: 15px;
  padding: 10px;
  background: firebrick;
  display: table;
  margin: auto;
  font-weight: 900;
  -webkit-animation: fadeinout 3s infinite;
          animation: fadeinout 3s infinite;
}

@media (min-width: 601px) {
  .mobile-header {
    display: none;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeinout2 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeinout2 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

footer {
  background: #111;
  color: white;
  padding: 4vw 10vw 0 10vw;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  background: white;
  color: firebrick;
  font-weight: 900;
  padding: 0 2px 0 2px;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px;
}

footer .footer-container h1 {
  padding-bottom: 10px;
}

footer .footer-container h2 {
  padding-bottom: 10px;
}

footer .footer-container ul {
  list-style: none;
}

footer .footer-container .footer-col-1 {
  height: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer-container .footer-col-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer .footer-container .findusonline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  margin-right: 10px;
}

footer .footer-bottom {
  background: #101010;
  color: firebrick;
  text-align: center;
  padding: 20px;
}

@media (max-width: 600px) {
  footer {
    display: none;
  }
}

.lotto {
  text-align: center;
  padding: 10px 10px 10px 10px;
  background: firebrick;
}

@media (max-width: 600px) {
  .lotto {
    margin-top: 50px;
    display: none;
  }
}

.lotto .ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
  overflow: hidden;
  -webkit-animation: ballGrow 2s ease-out forwards;
          animation: ballGrow 2s ease-out forwards;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.lotto .ball:after {
  content: "";
  position: absolute;
  top: 5%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
}

.lotto .stage {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@media (max-width: 600px) {
  .lotto .stage {
    width: 50px;
    height: 50px;
    margin: 10px;
    -webkit-perspective: 0px;
    -ms-perspective: 0px;
    -o-perspective: 0px;
    perspective: 0px;
  }
}

.lotto .number {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 80px;
  color: firebrick;
  font-family: 'Roboto', sans-serif;
  -webkit-animation: ballRoll 2s ease-out;
          animation: ballRoll 2s ease-out;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 50px;
}

@media (max-width: 600px) {
  .lotto .number {
    left: 17px;
    top: 10px;
    font-size: 30px;
  }
}

.lotto .number:after {
  content: attr(data-number);
  position: absolute;
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  opacity: 0;
  left: -7px;
  top: -25px;
  animation: numberReveal 0.1s 1.5s reverse forwards;
}

.lotto .number:before {
  content: '?';
  position: absolute;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  -webkit-animation: numberReveal 0.1s 1.5s forwards;
          animation: numberReveal 0.1s 1.5s forwards;
  left: 0%;
}

@-webkit-keyframes ballRoll {
  0%,
  20%,
  50% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
  }
  10%,
  35%,
  75% {
    -webkit-transform: translateY(100%) rotateX(170deg) scale(0.4);
            transform: translateY(100%) rotateX(170deg) scale(0.4);
  }
  11%,
  36%,
  76% {
    -webkit-transform: translateY(-100%) rotateX(-170deg) scale(0.3);
            transform: translateY(-100%) rotateX(-170deg) scale(0.3);
    opacity: 0;
  }
}

@keyframes ballRoll {
  0%,
  20%,
  50% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
  }
  10%,
  35%,
  75% {
    -webkit-transform: translateY(100%) rotateX(170deg) scale(0.4);
            transform: translateY(100%) rotateX(170deg) scale(0.4);
  }
  11%,
  36%,
  76% {
    -webkit-transform: translateY(-100%) rotateX(-170deg) scale(0.3);
            transform: translateY(-100%) rotateX(-170deg) scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes ballGrow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ballGrow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes numberReveal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes numberReveal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lotto .stage:nth-child(2) .ball,
.lotto .stage:nth-child(2) .number {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lotto .stage:nth-child(2) .number:after,
.lotto .stage:nth-child(2) .number:before {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.lotto .stage:nth-child(3) .ball,
.lotto .stage:nth-child(3) .number {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lotto .stage:nth-child(3) .number:after,
.lotto .stage:nth-child(3) .number:before {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.lotto .stage:nth-child(4) .ball,
.lotto .stage:nth-child(4) .number {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.lotto .stage:nth-child(4) .number:after,
.lotto .stage:nth-child(4) .number:before {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  resize: vertical;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  padding: 5px;
}

.img-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 144px;
  height: 191px;
}

.bottom-shadow {
  -webkit-box-shadow: black 2px 2px 2px;
          box-shadow: black 2px 2px 2px;
}

.FrontImage {
  position: relative;
  margin-top: calc(-150px + -3rem);
  z-index: 1;
  -webkit-filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
          filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
}

@media (max-width: 600px) {
  .FrontImage {
    display: none;
  }
}

.FrontImage img {
  width: 100vw;
}

.FrontImage .frontimgtxt {
  position: absolute;
  font-family: 'Montserrat';
  display: -ms-inline-grid;
  display: inline-grid;
  bottom: 5vw;
  left: 5vw;
  min-width: 10%;
  max-width: 50%;
  z-index: 30;
}

.FrontImage .frontimgtxt h1 {
  font-size: 40px;
  text-transform: uppercase;
  background: rgba(178, 34, 34, 0.9);
  padding: 20px 10px 0 10px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadein;
          animation-name: fadein;
}

.FrontImage .frontimgtxt h2 {
  font-size: 30px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.9);
  padding: 0 0 0 10px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: fadein;
          animation-name: fadein;
}

.teamvacancy {
  padding-top: 10px;
  text-align: center;
}

.teamvacancy .vacancy-header {
  margin-bottom: 1rem;
}

.teamvacancy .vacancy-header h1 {
  font-size: calc(15px + 1vw);
  text-transform: uppercase;
}

.teamvacancy .vacancy-header p {
  font-size: calc(10px + 0.5vw);
}

.teamvacancy ul {
  text-align: left;
  margin-left: 9vw;
}

@media (max-width: 600px) {
  .teamvacancy ul {
    text-align: center;
    margin-left: 0;
    margin-bottom: 5px;
  }
}

.teamvacancy ul li {
  font-size: 0.75rem;
  background: yellow;
  padding: 2px;
  display: inline-block;
  color: #242424;
  margin: 2px;
  font-weight: 800;
}

.teamvacancy ul li:hover {
  background: firebrick;
  color: white;
  font-weight: 300;
  cursor: help;
}

.teamvacancy .find-coach {
  display: none;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .teamvacancy .find-coach {
    display: block;
  }
}

.teamvacancy button {
  margin-top: 20px;
  background: royalblue;
  border: none;
  padding: 5px;
  color: white;
  font-weight: 900;
}

.joinus {
  background: lightyellow;
  height: 200px;
  margin-bottom: 25px;
  color: #242424;
  line-height: 180px;
}

.joinus h1 {
  text-align: center;
  vertical-align: middle;
  text-align: center;
  margin-bottom: -150px;
}

.joinus p {
  text-align: center;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 600px) {
  .joinus {
    display: none;
    margin-top: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background: firebrick;
  width: 105vw;
  margin-top: -91px;
  left: -20px;
  height: 200px;
  border-bottom: 4px solid white;
  z-index: 10;
  -webkit-filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
          filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
  -webkit-transform: rotate(-4.5deg);
          transform: rotate(-4.5deg);
  margin-bottom: 5rem;
}

@media (max-width: 600px) {
  header {
    display: none;
    margin-top: 0px;
  }
}

header::after {
  content: "";
  background: url("../img/grass.jpg");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header .logo {
  -webkit-transform: rotate(4.5deg);
          transform: rotate(4.5deg);
  display: -ms-inline-flexbox;
  position: absolute;
  bottom: 27px;
  left: 55px;
}

header .logo h1 {
  font-family: 'montserrat';
  display: inline;
  position: relative;
  top: 5px;
  margin-left: 20px;
  letter-spacing: 2px;
  text-shadow: black 2px 2px;
}

header .logo img {
  width: 100px;
  vertical-align: middle;
}

header nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 0rem;
  right: 10rem;
  margin-right: 100px;
  text-align: right;
  font-size: 1rem;
}

header .router-link-exact-active {
  color: #242424 !important;
  font-weight: 900;
  background: white;
  text-shadow: none;
  padding-bottom: 4px;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Roboto';
  letter-spacing: 4px;
  text-transform: uppercase;
}

header a:hover {
  color: #242424 !important;
}

@media (min-width: 601px) {
  .mobile-header {
    display: none;
  }
}

@media (max-width: 1201px) {
  .mobile-header .mobile-header {
    display: none;
  }
}

.mobile-header {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.mobile-header .logo img {
  width: 147px;
}

.mobile-header .newapp {
  position: relative;
  top: 15px;
  padding: 10px;
  background: firebrick;
  display: table;
  margin: auto;
  font-weight: 900;
  -webkit-animation: fadeinout 3s infinite;
          animation: fadeinout 3s infinite;
}

@media (min-width: 601px) {
  .mobile-header {
    display: none;
  }
}

html,
body {
  overflow-x: hidden;
  font-family: 'montserrat', 'archivo';
  letter-spacing: 1px;
  background-color: #242424;
  color: white;
}

.affiliation {
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .affiliation img {
    width: 100%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

@media (max-width: 600px) {
  .container {
    margin-top: 0px;
  }
}

.coachesdetailpage h1 {
  text-align: center;
}

.coachesdetailpage h2 {
  text-align: center;
}

.coachesdetailpage .coachdetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: start;
          flex-direction: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coachesdetailpage .coachdetails .coachdetail {
  width: 200px;
  margin: 10px;
}

.coachesdetailpage .coachdetails .coachdetail img {
  width: 200px;
  height: 100px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.coachesdetailpage .coachdetails .coachdetail h3 {
  color: yellow;
}

.coachesdetailpage .coachdetails button {
  width: 200px;
  height: 25px;
  background: greenyellow;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
}

@media (min-width: 601px) {
  .coachesdetailpage .coachdetails button {
    display: none;
  }
}

.coachesdetailpage .coachdetails button a {
  text-decoration: none !important;
  color: black !important;
}

.coachesdetailpage .coachdetails button a:hover {
  background: green;
  cursor: pointer;
}

@media (max-width: 600px) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */