@import url("https://fonts.googleapis.com/css?family=Archivo|Montserrat|Roboto|Rubik&display=swap");
.header-wrap {
  -webkit-filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
          filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
  z-index: 20;
}

header {
  position: relative;
  margin-top: -11.5vh;
  left: -3vw;
  /* width: 110vw; */
  /* -webkit-transform: rotate(-4.5deg); */
  -webkit-transform: rotate(-4.5deg);
          transform: rotate(-4.5deg);
  background: firebrick;
  height: 20vh;
  border-bottom: 4px solid white;
  z-index: 10;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  position: absolute;
  -webkit-transform: rotate(4.5deg);
          transform: rotate(4.5deg);
  bottom: 2rem;
  text-align: left;
  left: 3vw;
  /* font-size: 1rem; */
}

.logo h1 {
  font-family: 'montserrat';
  display: inline;
  position: relative;
  top: 5px;
  margin-left: 20px;
  letter-spacing: 2px;
}

.logo img {
  width: 125px;
  vertical-align: middle;
}

nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 0rem;
  text-align: right;
  left: 42vw;
  font-size: 1rem;
}

.router-link-exact-active {
  color: #242424 !important;
  font-weight: 900;
  background: white;
  text-shadow: none;
  padding-bottom: 4px;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Roboto';
  letter-spacing: 4px;
  text-transform: uppercase;
}

a:hover {
  color: #242424 !important;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  text-shadow: none;
  padding-bottom: 4px;
}

.footer-wrap {
  -webkit-filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
          filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
}

footer {
  position: relative;
  bottom: 0px;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #242424;
  color: white;
  width: 100vw;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
  /* top: -461px; */
  /* left: -49px; */
  margin-top: -20px;
}

.front-slider {
  top: 0;
  max-height: 200vh !important;
}

.FrontImage {
  position: relative;
  z-index: 1;
  -webkit-transform: skewY(-4.5deg);
          transform: skewY(-4.5deg);
  -webkit-filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
          filter: drop-shadow(-1px 10px 3px rgba(24, 24, 24, 0.8));
}

.FrontImage img {
  width: 100vw;
}

.FrontImage .frontimgtxt {
  font-family: 'Montserrat';
  padding: 5px;
  position: relative;
  top: -37vh;
  left: 10vw;
  -webkit-transform: skewY(4.5deg);
          transform: skewY(4.5deg);
}

.FrontImage h1 {
  display: table;
  font-size: 2.5vw;
  text-transform: uppercase;
  background: rgba(178, 34, 34, 0.9);
  padding: 20px 10px 0 10px;
  position: relative;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadein;
          animation-name: fadein;
}

.FrontImage h2 {
  display: table;
  font-size: 2vw;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.6);
  padding: 0px 0 0 10px;
  position: relative;
  top: -22px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: fadein;
          animation-name: fadein;
}

.FrontImage .straighenup {
  background: white;
  position: relative;
  height: 20vh;
}

.FrontImage .fa-charter {
  top: 10px;
  width: 69px;
}
/*# sourceMappingURL=main.css.map */